
table{
    width: 40%;
    height: 255px;
    border-collapse: collapse;
}
.table-fortic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}
h1{
 text-align: center;
 font-family: sans-serif;
 font-weight: lighter;
}
td{
    text-align: center;
    font-size: 4vw;
    font-family: sans-serif;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.try-again{
    padding: 1vw;
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
.try-again-container{
    display: flex;
    justify-content: center;
    
}
.try-again:hover{
    background-color: blue;
    cursor: pointer;
}
.try-again:active{
    background-color: red;

}